# Database (Amvera Postgres)
DB_HOST=compass-day-vitalyn.db-msk0.amvera.tech
DB_PORT=5432
DB_USER=compass-admin
DB_PASSWORD=ваша_пароль
DB_NAME=compass-admin

# APIs
GEMINI_API_KEY=ваш_ключ_gemini
TELEGRAM_BOT_TOKEN=ваш_токен_телеграм
